/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*--Banner stats here--*/
/*--header--*/
.header-main {
    background: rgba(255, 255, 255, 0.18);
	padding:1em 0;
}
/*--header end here--*/
.banner {
    background: url(../images/bannert.jpg)no-repeat center;
    min-height: 800px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    position: relative;
}
/*-- Navbar --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:transparent;
}
.navbar-default .navbar-brand {
     font-size: 3em;
    color: #FFF;
    text-shadow: 3px 3px #000000;
	text-decoration:none;
	font-weight: bold;
}
.navbar {
	margin-bottom:0px;
}
.navbar-nav>li {
    float: left;
    margin-right: 23px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFEFE;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: 400;
    font-size: 15px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 20px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.navbar-right .dropdown-menu {
    right: -14px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #0091ea;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
ul.nav.navbar-nav {
    margin-top: .8em;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background:none!important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.55);
    border-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #EB4549;
}
.navbar-default {
    border-color: #e7e7e7;
    border: none!important;
    background: none!important;
}
.navbar {
    border-radius: 0!important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;

    line-height: 45px;
}
/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #0091ea solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
/* //Outline In */
/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e71f30;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0091ea;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* //Rectangle In */
.navbar-header h1 a {
    font-size: 1.4em;
    color: #FFF;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 700;
	position: relative;
}
.navbar-header h1 {
    line-height: 43px;
    margin-bottom: 4px;
}
.navbar-header h1 a span {
    color: #2fb0ff;
    font-size: 13px;
    display: block;
    line-height: 1px;
    letter-spacing: 2px;
    font-weight: 400;
}
.navbar-brand {
    float: left;
    padding:0!important;
    line-height: 45px;
}
/*-- //Navbar --*/
/*--Banner text--*/
 .cd-headline {
    font-size: 2.3em;
    font-weight: 400;
    color: #fff;
    /*word-spacing: 10px;*/
    /*text-transform: uppercase;*/
    width: 84%;
    margin: 0 auto;
    line-height: 1.6em;
}
.cd-intro {
		margin: 17em auto 3em;
}
.botton-agileits {
    text-align: center;
	margin-top: 1em;
}
.botton-agileits a{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
	text-decoration:none;
	font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.botton-agileits a:hover,.botton-agileits a:focus {
	text-decoration:none;
}
.w3l_banner_bottom_right ul li {
    list-style: none;
    margin-bottom: 1em;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.w3l_banner_bottom_right h3 {
    text-align: left!important;
    margin-bottom: .5em;
}
.w3l_banner_bottom_right ul li i {
    color: #0091ea;
    margin-right: 10px;
    font-size: 14px;
}
.w3l_banner_bottom_right ul {
    margin-top: 1em;
}
.agileits_w3layouts_call_mail ul li:first-child {
    margin-right: 3em;
}
.agileits_w3layouts_call_mail ul li {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
}
.agileits_w3layouts_call_mail ul li i {
    padding-right: 1em;
}
.agileits_w3layouts_call_mail ul li a {
    color: #fff;
}
.banner-text {
    position: relative;
}
.banner-icons-agileinfo ul {
    position: absolute;
    display: block;
}
.banner-icons-agileinfo .agileits_social_list li:nth-child(2) {
    margin: 2em 0em!important;
}
.banner-icons-agileinfo ul {
    position: absolute;
    width: 5%!important;
    right: 0px;
    top: 29px;
}
.banner-icons-agileinfo ul li a {
    font-size: .8em!important;
    width: 28px!important;
    height: 28px!important;
}
.agileits_w3layouts_call_mail {
    margin-top: 9em;
}
.banner-icons-agileinfo ul::before {
    content: "";
    width: 2px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: 13px;
    top: -75px;
}
.banner-icons-agileinfo ul::after {
    content: "";
    width: 2px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: 13px;
    top: 175px;
}

/*--//Banner text-*/
/*--//Banner ends here--*/
/*-- services --*/
.w3_agileits_services_grids {
    border: 9px solid #eee;
    padding: 0em 0em 0em 15em;
    position: relative;
}
.w3_agileits_services_left {
    z-index: 999;
    position: absolute;
    /*left: -6.8em;*/
    top: 2.3em;
}
.w3l_head1,.w3ls_head_para1{
	text-align:center;
}
.w3l_head1:before,.w3l_head1:after{
	width:10% !important;
}
.w3l_head1:before {
    left: 35% !important;
}
.w3l_head1:after {
    right: 35% !important;
}
.w3_agileits_services_grid{
	text-align:center;
	padding: 0;
}
.w3_agileits_services_grid_agile {
    padding: 1em;
}
.w3_agileits_services_grid_1 {
    width: 90px;
    height: 90px;
    margin: 25px auto 0;
}
.w3_agileits_services_grid_1 i {
    margin-top: 25px;
    font-size: 40px;
    color: #000;
}
.w3_agileits_services_grid_agile h3 {
    text-transform: capitalize;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: #0091ea;
    margin: 1em 0 .5em;
    padding-bottom: .5em;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.w3_agileits_services_grid_agile h3:after {
    content: '';
    position: absolute;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
	-ms-transition: all .5s ease;
    transition: all .5s ease;
    width: 20%;
    height: 1px;
    background: #212121;
    left: 40%;
    bottom: 0;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3:after {
    background: #e71f30;
    width: 60%;
}
.w3_agileits_services_grid_agile p,.w3l_banner_bottom_right p{
	color:#999;
	line-height:2em;
	font-size: 16px;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile{
	background: #0091ea;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_1{
	background:#fff;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3{
	color:#fff;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile p{
	color:#fff;
}
.w3_agileits_services_grid {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.w3_agileits_services_grid:nth-child(3),.w3_agileits_services_grid:nth-child(4){
    border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.w3_agileits_services_grid:nth-child(1),.w3_agileits_services_grid:nth-child(3),.w3_agileits_services_grid:nth-child(5) {
    border-right: 1px solid #eee;
}
/*-- //services --*/
/*--modal--*/
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #000;
    text-align: center;
    font-size: 26px;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.modal-content h3 {
    color: #0091ea!important;
    text-align: left!important;
    margin: 1em 0 0!important;
    font-size: 22px!important;
}
.modal-content h5 {
    color: #f63f0e;
    padding: 15px 0 7px;
    font-size: 22px;
}
.modal-content p{
	color:#636363;
	font-size:14px;
	line-height:25px;
	    padding-top: 10px;
}
.modal-header {
    padding: 30px;
}
/*--//modal--*/
/*-- //Banner-Slider --*/
/*-- main --*/
.banner-btm-w3layouts,.about-w3layouts,.team,.latest-works,.contact,.services,.banner-bottom{
	padding: 5em 0em;;
}
.tittle-agileinfo{
	margin-bottom:2.5em;
}
.tittle-agileinfo h3,.modal-content h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 35px;
    color: #000;
}
.tittle-agileinfo h3:after,.modal-content h4:after {
	border-top: 3px solid #e71f30;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
.white-w3ls h3{
	color:#fff!important;
}
/*-- //main --*/
/*-- banner-bottom --*/
.latest-works{
	background: #0468a5;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment:fixed;
}
.w3_banner_bottom_grid_pos{
	position:relative;
}
.w3_banner_bottom_grid{
	position: absolute;
    left: 45%;
    top: -58px;
}
.w3_agileits_para {
    margin: 5.1em 0.6em 5.2em;
    color: #c7c7c7;
    line-height: 2em;
    font-size: 16px;
    width: 90%;
}
.agileinfo_banner_bottom_grid_three_left p.w3_agileits_para {
    width: 47%;
    float: left;
    padding: 1em 1.5em;
    background:  rgba(4, 50, 78, 0.58);
}
.wthree_banner_bottom_grid_three_left1{
    width: 49.5%;
    float: left;
}
.bnr-btm3 p.w3_agileits_para,.bnr-btm3 .wthree_banner_bottom_grid_three_left1{
	width:100%!important;
}
.bnr-btm3 p.w3_agileits_para{
	margin:1em 0 0 !important;
}
.agileits_banner_bottom_grid_three, .agileinfo_banner_bottom_grid_three_left {
    padding: 0;
}
/* Common style */
.grid figure {
	position: relative;
    overflow: hidden;
    background:#000000;
    text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure h3 {
	/*word-spacing: -0.15em;*/
	font-weight: 300;
}

.grid figure h3 span {
	font-weight: 800;
    color: #e71f30;
}

.grid figure p {
	letter-spacing: 1px;
	color:#fff;
	line-height:2em;
}

figure.effect-roxy img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	width: -moz-calc(100% + 60px);
	width: -o-calc(100% + 60px);
	width: -ms-calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
	-moz-transform: translate3d(-50px,0,0);
	-o-transform: translate3d(-50px,0,0);
	-ms-transform: translate3d(-50px,0,0);
}

figure.effect-roxy figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
	-ms-transform: translate3d(-20px,0,0);
	-moz-transform: translate3d(-20px,0,0);
	-o-transform: translate3d(-20px,0,0);
}

figure.effect-roxy figcaption {
    padding: 3em;
    text-align: right;
    border: 13px solid rgba(255, 255, 255, 0.15);
}

figure.effect-roxy h3 {
	padding:0 0 .5em;
    font-size: 1.7em;
    color: #fff;
	text-transform: uppercase;
}

figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

figure.effect-roxy:hover img,.agileinfo_banner_bottom_grid_three_left:hover img{
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p,.agileinfo_banner_bottom_grid_three_left:hover figcaption::before,
.agileinfo_banner_bottom_grid_three_left:hover p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //banner-bottom --*/
/*-- About --*/
.about-w3layouts {
    background: url(../images/about.jpg)no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment:fixed;
    min-height: 364px;
    position: relative;
}
h3.subheading-w3l,.modal-content h3{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.5em;
    color: #000;
	text-align:center;
}

h3.subheading-w3l span {
    color: #e71f30;
}
.w3l_banner_bottom_right h3 span{
	color:#0091ea!important;
}
.w3ls_schedule_bottom_right_grid p {
    margin: 1em 0 2em;
    color: #d4d4d4;
    line-height: 2em;
    font-size: 16px;
    letter-spacing: .3px;
	text-align:center;
}
.w3l_schedule_bottom_right_grid1 i {
    font-size: 1.5em;
    color: #e71f30;
    display: block;
}
.w3l_schedule_bottom_right_grid1 h4 {
    margin: 1em 0 .5em;
    padding-bottom: 0.3em;
    color: #fff;
	letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    border-bottom: 1px solid #e71f30;
}
.w3l_schedule_bottom_right_grid1 h5 {
    font-size: 2em;
    color: #0091ea;
    font-weight: 600;
}
.w3ls_schedule_bottom_right_grid {
    padding: 2em;
    background: rgba(0, 0, 0, 0.68);
    width: 90%;
    margin: 0 auto;
}
.w3l_schedule_bottom_right_grid1 {
    text-align: center;
}
/*-- //About --*/
/*-- team --*/
.w3layouts_team_grid{
    overflow: hidden;
    position: relative;
}
.w3layouts_team_grid_pos{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    right: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.w3layouts_team_grid_pos{
    -webkit-transform: scale3d(0,0,1);
    -moz-transform: scale3d(0,0,1);
    -ms-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}
.w3_agile_team_grid:hover .w3layouts_team_grid_pos,.w3layouts_gallery_grid:hover .w3layouts_team_grid_pos,
.w3_agile_class_grid:hover .w3layouts_team_grid_pos{
    opacity:1;
	-webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.w3_agile_team_grid:hover .wthree_text,.w3layouts_gallery_grid:hover .wthree_text,
.w3_agile_class_grid:hover .wthree_text{
    opacity: 1;
	-webkit-transform: translateY(0) scale3d(1,1,1);
    -moz-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
    -webkit-transition: transform 400ms ease 380ms;
    -moz-transition: transform 400ms ease 380ms;
    transition: transform 400ms ease 380ms;
}
.wthree_text{
    text-align: center;
    position: absolute;
    width: 100%;
    top:47%;
    opacity: 0;
	    -webkit-transform: translateY(0) scale3d(0,0,1);
    -moz-transform: translateY(0) scale3d(0,0,1);
    -ms-transform: translateY(0) scale3d(0,0,1);
    transform: translateY(0) scale3d(0,0,1);
    -webkit-transition: transform 400ms ease 280ms;
    -moz-transition: transform 400ms ease 280ms;
    transition: transform 400ms ease 280ms;
}
.agileits_social_list li{
	display: inline-block;
}
.agileits_social_list li:nth-child(2){
    margin:0 1.5em;
}
.agileits_social_list li a{
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.agileits_social_list li a i{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	line-height: 2.3em;
}
.agileits_social_list li a:hover{
	background:#fff;
}
a.w3_agile_facebook,.w3_facebook{
	background:#3b5998;
}
a.w3_agile_facebook:hover{
	color:#3b5998;
}
a.agile_twitter,.w3ls_twitter{
	background:#1da1f2;
}
a.w3_agile_dribble,.w3l_dribbble{
	background:#ea4c89;
}
a.w3_agile_vimeo{
	background:#1ab7ea;
}
a.agile_twitter:hover{
	color:#1da1f2;
}
a.w3_agile_dribble:hover{
	color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	color:#1ab7ea;
}
.agile_social_icons_banner {
    float: right;
    margin:1.6em 2em 0 0;
}
.w3_agile_team_grid{
	text-align:center;
}
.w3_agile_team_grid h4{
	font-size: 1.5em;
    color: #212121;
    margin: 1.5em 0 .2em;
}
.w3_agile_team_grid p {
    color: #b5b4b4;
    font-size: 16px;
    letter-spacing: .3px;
}
.team1{
	background: url(../images/t2.jpg)no-repeat 0px 0px;
	float:left;
	width: 50%;
}
.team2{
	background: url(../images/t2.jpg)no-repeat 0px 0px;
	 float: right;
	 width: 50%;
}
.team3{
	background: url(../images/t2.jpg)no-repeat 0px 0px;
	width: 100%;
}
.team1,.team2,.team3{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    min-height: 364px;
}
.team1-info-w3ls,.team2-info-w3ls,.team3-info-w3ls{
	margin:7em 0em;
	width:40%;
	float:left;
	padding:1em;
	background:#333;
}
.team1-info-w3ls{
	text-align:left;
	margin-left:1em!important;
}
.team3-info-w3ls{
	text-align:left;
	margin-left:2em!important;
	width:80%!important;
}
.team2-info-w3ls {
    text-align: right;
    float: right;
    margin-right: 1em!important;
}
.team1-info-w3ls h6,.team2-info-w3ls h6,.team3-info-w3ls h6{
	color:#fff;
	font-size:20px;
	text-transform:capitalize;
	letter-spacing:1px;
}
.team1-info-w3ls p,.team2-info-w3ls p,.team3-info-w3ls p{
}
.team1-info-w3ls span, .team2-info-w3ls span, .team3-info-w3ls span {
    color: #e71f30;
    font-size: 15px;
    letter-spacing: 1px;
}
.team-agileits-left,.team-agileits-right {
    padding: 0;
}
.team1-info-w3ls::after {
    content: "";
    width: 265px;
    background: #0091ea;
    height: 2px;
    position: absolute;
    top: 16em;
    right: 13em;
    z-index: 999;
}
.team2-info-w3ls::after {
    content: "";
    width: 265px;
    background: #0091ea;
    height: 2px;
    position: absolute;
    top: 39em;
    right: 13em;
    z-index: 999;
}
.team3-info-w3ls::after {
    content: "";
    width: 2px;
    background: #0091ea;
    height: 265px;
    position: absolute;
    top: 18em;
    right: 22.5em;
    z-index: 999;
}
/*-- //team --*/
/*-- gallery --*/
.w3layouts_gallery_grid h4{
	text-transform:uppercase;
	font-size:1.5em;
	color:#fff;
}
.w3layouts_gallery_grid{
	padding:0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color:#e71f30;
    border: none;
    border-bottom-color: transparent;
}
.nav-tabs > li > a {
    margin-right: 3px;
    border-radius: 0;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    letter-spacing: 2px;
    border: none;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs {
    margin: 0 0 2.5em;
}
.nav-tabs > li:nth-child(1) {
	margin-left:41.5em;
}
.nav-tabs > li > a:hover {
    border: none;
}
.wthree_text p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 19px;
}
/*-- //gallery --*/
/*-- contact --*/
.address-grid h4, .contact-form h4{
    color: #000000;
    font-size: 1.2em;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.address-grid ul{
    padding: 0;
    margin: 2em 0 0 0;
}
.contact-form form {
    margin-top: 2em;
}
.address-grid ul li {
    text-align: center;
    display: block;
    color: #2e2e2e;
    letter-spacing: .7px;
    font-size: 16px;
    width: 33%;
    float: left;
    padding: 0 15px;
}
ul.w3_address li i {
    color: #000;
    font-size: 24px;
    padding-right: 10px;
}
.address-grid ul li a{
	color:#2e2e2e;	
	text-decoration:none;
}
.address-grid ul li a:hover{
	color:#0091ea;
}
ul.w3_address li span {
    font-family: 'Ubuntu', sans-serif;
    color: #0091ea;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
ul.w3_address li i ,ul.w3_address li span{
	margin-bottom:15px;
}
.contact-form h4{
	margin-bottom:2em;
}
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.address-grid {
    margin-top: 3em;
}
.contact-form {
    background: #171717;
    padding: 2em 3em;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
    outline: none;
	font-family: 'Source Sans Pro', sans-serif;
}
.contact input[type="text"], .contact input[type="email"] {
    width: 32.5%;
    float: left;
    margin-bottom: 1em;
}
.contact input[type="email"] {
    margin:0 13px;
}
.contact textarea { 
	min-height: 8em;
    resize: none;
} 

.white-w3ls{
	color:#fff!important;
}
/*-- //input-effect --*/
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: .6em 4em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #e71f30;
    border: 1px solid #e71f30;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
	font-family: 'Source Sans Pro', sans-serif;
}
.contact input[type="submit"]:hover {
	color:#fff;
    background: #0091ea;
    border: 1px solid #0091ea;
	 -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
h6.contact-w3ls {
    padding: .7em;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
	font-size: 29px;
    background: #e71f30;
}
h6.contact-w3ls span {
    color: #171717;
}
.footer-w3layouts {
    padding: 3em 0;
    background: #171717;
}
.footer-w3layouts iframe {
    width: 100%;
    height: 208px;
    border: 0;
}
.footer-w3layouts h3 {
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin: 0em 0 .8em;
    text-transform: capitalize;
}
.col-md-4.footer-grids p {
    font-size: 14px;
    line-height: 30px;
}
ul.b-nav li a {
    color: #868686;
    font-size: 14px;
    text-decoration: none;
}
ul.b-nav li a:hover {
    color: #fff;
}
ul.b-nav li {
    margin-bottom: 1em;
    list-style: none;
    display:block;
}
ul.b-nav li:nth-child(5) {
    margin-bottom: 0!important;
}
.footer-grids .botton-agileits{
	text-align:left!important;
}
.footer-grids ul.agileits_social_list {
    margin-top: 2em;
	margin-left: 0.6em;
}
/*-- //contact --*/
/*--copy-right--*/
.copy {
    background: #000;
    padding: 1em 0;
}
.copy p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.8px;
    text-align: center;
}
.copy p a {
    color: #0091ea;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    overflow: hidden;
    z-index: 999;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
    text-indent: 100%;
    background:url(../images/arr.png) no-repeat 10px 6px;
    background-size: 28px;
}
#toTopHover {
    width: 32px;
    height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1600px){
	.nav-tabs > li:nth-child(1) {
		margin-left: 39em;
	}
}
@media(max-width:1440px){
	.cd-intro {
		margin: 13em auto 2em;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 8em;
	}
	.banner {
		min-height: 700px;
	}
	.wthree_text {
		top: 44%;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 34em;
	}
}
@media(max-width:1366px){
	.w3_agileits_services_grids {
		padding: 0em 0em 0em 17.9em;
	}
	.w3_agileits_services_left {
		left: -4em;
	}
	.tittle-agileinfo h3, .modal-content h4 {
		font-size: 32px;
	}
	.tittle-agileinfo {
		margin-bottom: 2.2em;
	}
	.banner-btm-w3layouts, .about-w3layouts, .team, .latest-works, .contact, .services, .banner-bottom {
		padding: 4em 0em;
	}
	h3.subheading-w3l,.modal-content h3 {
		font-size: 1.4em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 31.7em;
	}
	h6.contact-w3ls {
		font-size: 26px;
	}
	.navbar-header h1 a {
		font-size: 1.3em;
	}
	.navbar-header h1 a span {
		letter-spacing: 1.5px;
	}
}
@media(max-width:1280px){
	.cd-headline {
		font-size: 2.4em;
		width: 70%;
		line-height: 1.5em;
	}
	.cd-intro {
		margin: 11em auto 2em;
	}
	.banner-icons-agileinfo .agileits_social_list li:nth-child(2) {
		margin: 1.5em 0em!important;
	}
	.banner-icons-agileinfo ul::after {
		top: 156px;
	}
	.banner {
		min-height: 630px;
	}
	.w3_agileits_services_left {
		left: -2.2em;
		top: 8.3em;
	}
	.w3_agileits_services_left img {
		width: 92%;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 28.9em;
	}
}
@media(max-width:1080px){
	.navbar-header h1 a {
		font-size: 1.1em;
		letter-spacing: 4px;
	}
	.navbar-header h1 a span {
		letter-spacing: 1px;
	}
	.w3l_banner_bottom_right ul li {
		margin-bottom: 0.5em;
		font-size: 17px;
	}
	.w3_agileits_para {
		margin: 2.75em 0.6em 2.78em;
	}
	.team3-info-w3ls::after {
		right: 18.5em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 22.5em;
	}
	.contact input[type="email"] {
		margin: 0 10.5px;
	}
	
}
@media(max-width:1050px){
	.nav-tabs > li > a {
		font-size: 0.9em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 22.3em;
	}
	.nav-tabs {
		margin: 0 0 2em;
	}
	.w3layouts_gallery_grid h4 {
		font-size: 1.3em;
	}
	.wthree_text p {
		font-size: 16px;
	}
	.w3_agileits_services_left {
		left: -1.6em;
		top: 10.5em;
	}
	.w3_agileits_services_grids {
		padding: 0em 0em 0em 15.9em;
	}
}
@media(max-width:1024px){
	.cd-headline {
		font-size: 2.2em;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 3px 15px;
		font-size: 14px;
	}
	.cd-intro {
		margin: 8em auto 2em;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 6em;
	}
	.banner {
		min-height: 535px;
	}
	.botton-agileits a {
		padding: 7px 27px;
	}
	.banner-icons-agileinfo .agileits_social_list li:nth-child(2) {
		margin: 1.3em 0em!important;
	}
	.banner-icons-agileinfo ul::after {
		top: 148px;
	}
	.banner-icons-agileinfo ul {
		top: 39px;
	}
	.tittle-agileinfo h3, .modal-content h4 {
		font-size: 26px;
	}
	.tittle-agileinfo {
		margin-bottom: 2em;
	}
	.banner-btm-w3layouts, .about-w3layouts, .team, .latest-works, .contact, .services, .banner-bottom {
		padding: 3em 0em;
	}
	.w3_agileits_services_left img {
		width: 80%;
	}
	.team1-info-w3ls h6, .team2-info-w3ls h6, .team3-info-w3ls h6 {
		font-size: 18px;
	}
	.team1-info-w3ls::after {
		top: 15.5em;
	}
	.team2-info-w3ls::after {
		top: 38.2em;
	}
	h3.subheading-w3l,.modal-content h3 {
		font-size: 1.3em;
	}
	.slbCaption {
		font-size: 1.2em;
	}
	h6.contact-w3ls {
		font-size: 23px;
	}
	.agileits_social_list li a {
		font-size: 0.9em;
		width: 31px;
		height: 31px;
	}
	.footer-w3layouts h3 {
		font-size: 1.1em;
		margin: 0em 0 .7em;
	}
	ul.b-nav li {
		margin-bottom: .8em;
	}
	.footer-grids ul.agileits_social_list {
		margin-top: 1.6em;
	}
	figure.effect-roxy h3 {
		font-size: 1.3em;
	}
	.grid figure p {
		line-height: 1.8em;
	}
	.dropdown-menu > li > a {
		font-size: 13px;
	}
}
@media(max-width:991px){
	.navbar-nav>li {
		margin-right: 12px;
	}
	.cd-headline {
		font-size: 2em;
	}
	.cd-intro {
		margin: 6.5em auto 1em;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 5em;
	}
	.banner {
		min-height: 465px;
	}
	.banner-icons-agileinfo ul {
		top: 30px;
	}
	.w3l_banner_bottom_left {
		margin-bottom: 2em;
	}
	.w3_agileits_para {
		margin: 4.7em 0.6em 4.8em;
	}
	.bnr-btm3 .wthree_banner_bottom_grid_three_left1 {
		width: 49.5%!important;
		float: left;
	}
	.bnr-btm3 p.w3_agileits_para{
		width: 47%!important;
		float: left;
		margin: 10em 0.6em 0 !important;
	}
	.w3_agileits_services_grid_1 i {
		margin-top: 23px;
		font-size: 35px;
	}
	.w3_agileits_services_grid_1 {
		width: 80px;
		height: 80px;
		margin: 15px auto 0;
	}
	.w3_agileits_services_left {
		left: -6em;
		top: 31.2em;
	}
	.w3_agileits_services_grids {
		padding: 0em 0em 0em 12.6em;
	}
	.w3_agileits_services_grid_agile {
		padding: 1em 2em;
	}
	h3.subheading-w3l,.modal-content h3{
		font-size: 1.2em
	}
	.w3l_schedule_bottom_right_grid1 {
		width: 33%;
		float: left;
	}
	.w3l_schedule_bottom_right_grid1 h5 {
		font-size: 1.7em;
	}
	.team3 {
		width: 50%;
		float: left;
	}
	.team3-info-w3ls {
		width: 40%!important;
		margin-left: 1em!important;
	}
	.team3-info-w3ls::after {
		right: 12.5em;
		width: 265px;
		height: 2px;
		top: 15.5em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 20.3em;
	}
	.w3layouts_gallery_grid {
		float: left;
		width: 50%;
	}
	.slbCaption {
		font-size: 1em;
		letter-spacing: 0.8px;
	}
	.slbImage {
		padding: 2em 0;
	}
	.contact input[type="text"], .contact input[type="email"] {
		width: 32.2%;
	}
	ul.w3_address li span {
		font-size: 16px;
	}
	ul.w3_address li i {
		font-size: 21px;
	}
	.address-grid {
		margin-top: 2em;
	}
	.address-grid ul {
		margin: 1.5em 0 0 0;
	}
	.footer-grids:nth-child(1), .footer-grids:nth-child(2) {
		width: 50%;
		margin-bottom: 2em;
		float: left;
	}
	.footer-grids:nth-child(3) {
		width: 100%;
		float: left;
	}
	.contact textarea {
		min-height: 5em;
	}
	.w3_agileits_services_grid:nth-child(1), .w3_agileits_services_grid:nth-child(3), .w3_agileits_services_grid:nth-child(5) {
		border-right: none;
	}
	.w3_agileits_services_grid:nth-child(1), .w3_agileits_services_grid:nth-child(5){
		border-bottom: 1px solid #eee;
	}
}
@media(max-width:900px){
	.w3_agileits_services_left {
		left: -3.8em;
		top: 33em;
	}
	.w3_agileits_services_left img {
		width: 75%;
	}
	.address-grid ul li {
		font-size: 15px;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 17.7em;
	}
}
@media(max-width:800px){
	.navbar-header h1 a span {
		letter-spacing: 0.8px;
	}
	.navbar-header h1 a {
		font-size: 1em;
		letter-spacing: 3px;
	}
	.navbar-header h1 a span {
		letter-spacing: 0.6px;
		font-size: 12px;
		line-height: 0px;
	}
	.navbar-header h1 {
		line-height: 41px;
	}
	.cd-headline {
		font-size: 1.7em;
	}
	.cd-intro {
		margin: 5em auto 0em;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 4em;
	}
	.banner {
		min-height: 405px;
	}
	.banner-icons-agileinfo ul li a {
		font-size: .7em!important;
		width: 25px!important;
		height: 25px!important;
	}
	.banner-icons-agileinfo .agileits_social_list li:nth-child(2) {
		margin: 1.2em 0em!important;
	}
	.banner-icons-agileinfo ul::before {
		height: 40px;
		top: -58px;
		left: 11px;
	}
	.banner-icons-agileinfo ul::after {
		height: 40px;
		left: 11px;
		top: 136px;
	}
	.w3_agileits_services_grids {
		padding: 0em 0em 0em 15em;
	}
	.w3_agileits_services_left {
		left: -1.4em;
	}
	h6.contact-w3ls {
		font-size: 20px;
		letter-spacing: 1px;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 14.7em;
	}
}
@media(max-width:768px){
	.w3_agileits_services_grids {
		padding: 29.5em 0em 0em 0em;
		margin-top:9em;
	}
	.w3_agileits_services_left img {
		width: 100%;
	}
	.w3_agileits_services_left {
		left: 11em;
		top: -8em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 13.5em;
	}
	.tittle-agileinfo h3, .modal-content h4 {
		font-size: 23px;
	}
	.tittle-agileinfo {
		margin-bottom: 1.7em;
	}
	.header-main {
		padding: 0.7em 0;
	}
}
@media(max-width:767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #000;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 8px 9px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #ffffff;
		background: transparent;
		margin: 0;
		margin: 10px 0px 0 0px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #0091ea;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 5px 35px;
		color: #fff;
		margin-bottom: 13px;
	}
	.navbar-default .navbar-nav > li:nth-child(1) a {
		margin-top: 13px;
	}
	.navbar-nav > li {
		margin: 0;
	}
	
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.83);
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		/*margin-top:0.5em;*/
		text-align: center!important;
		top: 61px;
	}
	.navbar-nav>li {
		float: none;
	}
	ul.nav.navbar-nav,.navbar-nav{
		margin:0em!important;
		padding: 1em;
	}
	.navbar-default .navbar-nav > li > a {
		display: block;
	}
	.hvr-outline-in:before {
		border: #0091ea solid 3px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #0091ea;
		background-color: transparent;
	}
}
@media(max-width:736px){
	.nav-tabs > li:nth-child(1) {
		margin-left: 12.5em;
	}
	.w3_agileits_services_left {
		left: 10em;
	}
}
@media(max-width:667px){
	.navbar-header h1 {
		line-height: 40px;
	}
	.w3_agileits_para {
		margin: 2.7em 0.6em 2.7em;
	}
	.bnr-btm3 p.w3_agileits_para {
		margin: 7em 0.6em 0 !important;
	}
	.w3_agileits_services_left {
		left: 8.3em;
	}
	.nav-tabs > li > a {
		font-size: 0.8em;
		padding: 7px 15px;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 10.9em;
	}
	.nav-tabs {
		margin: 0 0 1.5em;
	}
	.contact input[type="text"], .contact input[type="email"] {
		width: 31.99%;
	}
	.address-grid ul li {
		width: 100%;
		margin-bottom: 1.5em;
	}
	.address-grid ul li:nth-child(3) {
		margin-bottom: 0em!important;
	}
}
@media(max-width:640px){
	.cd-headline {
		font-size: 1.5em;
		letter-spacing: 3px;
	}
	.botton-agileits a {
		padding:8px 25px;
		font-size: 12px;
	}
	.banner {
		min-height: 395px;
	}
	.tittle-agileinfo h3, .modal-content h4 {
		font-size: 21px;
	}
	.tittle-agileinfo {
		margin-bottom: 1.3em;
	}
	.banner-btm-w3layouts, .about-w3layouts, .team, .latest-works, .contact, .services, .banner-bottom {
		padding: 2.5em 0em;
	}
	.w3l_banner_bottom_right ul li {
		font-size: 16px;
	}
	.w3_agileits_para {
		line-height: 1.9em;
	}
	figure.effect-roxy h3 {
		font-size: 1.2em;
	}
	.w3_agileits_services_grids {
		margin-top: 8.78em;
	}
	.w3_agileits_services_left {
		left: 7.3em;
	}
	.w3_agileits_services_grid_agile h3 {
		font-size: 1.1em;
	}
	h3.subheading-w3l, .modal-content h3 {
		line-height: 30px;
	}
	.w3ls_schedule_bottom_right_grid p {
		margin: .2em 0 2em;
	}
	.contact input[type="text"], .contact input[type="email"] {
		width: 100%;
	}
	.contact input[type="email"] {
		margin: 0 0px;
		margin-bottom: 1em;
	}
	h6.contact-w3ls {
		font-size: 19px;
	}
	.contact-form form {
		margin-top: 1em;
	}
	.footer-w3layouts {
		padding: 2em 0;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 10.2em;
	}
}
@media(max-width:600px){
	.banner-icons-agileinfo ul {
		top: 20px;
	}
	.w3_agileits_para {
		margin: 2.3em 0.6em 2.3em;
	}
	.grid figure p {
		font-size: 15px;
	}
	.w3_agileits_services_left {
		left: 5.7em;
	}
	.team1-info-w3ls, .team2-info-w3ls, .team3-info-w3ls {
		margin: 6em 0em;
	}
	.team1, .team2, .team3 {
		min-height: 309px;
	}
	.team1-info-w3ls::after {
		top: 14.5em;
		right: 9em;
	}
	.team2-info-w3ls::after {
		top: 33.8em;
		right: 9em;
	}
	.team3-info-w3ls::after {
		right: 9em;
		top: 14.6em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 8.9em;
	}
	.modal-content h3 {
		font-size: 19px!important;
	}
}
@media(max-width:568px){
	.cd-headline {
		width: 80%;
	}
	.cd-intro {
		margin: 4em auto 0em;
	}
	.agileits_w3layouts_call_mail ul li:first-child {
		margin-right: 2em;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 3em;
	}
	.banner {
		min-height: 345px;
	}
	.agileits_w3layouts_call_mail ul li i {
		padding-right: 0.7em;
	}
	.banner-icons-agileinfo .agileits_social_list li:nth-child(2) {
		margin: 1em 0em!important;
	}
	.banner-icons-agileinfo ul::after {
		height: 30px;
		top: 127px;
	}
	.banner-icons-agileinfo ul::before {
		height: 30px;
		top: -47px;
	}
	.wthree_banner_bottom_grid_three_left1 {
		width: 100%;
		float: none;
	}
	.w3_agileits_para {
		margin: 1em 0em 1.5em;
	}
	.agileinfo_banner_bottom_grid_three_left p.w3_agileits_para {
		width: 100%;
		float: none;
	}
	.bnr-btm3 .wthree_banner_bottom_grid_three_left1 {
		width: 100%!important;
		float: none;
	}
	.bnr-btm3 p.w3_agileits_para {
		margin: 1em 0em 0 !important;
		width: 100%!important;
		float: none;
	}
	.w3_agileits_services_left {
		left: 4.7em;
	}
	.w3l_schedule_bottom_right_grid1 {
		width: 100%;
		float: none;
		margin-bottom: 1.5em;
	}
	.w3l_schedule_bottom_right_grid1:nth-child(5) {
		margin-bottom: 0em!important;
	}
	.w3layouts_gallery_grid h4 {
		font-size: 1.2em;
	}
	.wthree_text p {
		font-size: 14px;
	}
	.contact-form {
		padding: 2em 2em;
	}
	.footer-grids:nth-child(1), .footer-grids:nth-child(2) {
		width: 100%;
		float: none;
		margin-bottom: 1.5em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 7.9em;
	}
	.team3-info-w3ls {
		width: 46%!important;
	}
	.team1-info-w3ls, .team2-info-w3ls, .team3-info-w3ls {
		width: 46%;
	}
	.team1,.team2,.team3 {
		float: none;
		width: 100%;
	}
	ul.b-nav li {
		margin-bottom: .5em;
	}
	 .agileinfo_banner_bottom_grid_three_left {
		margin-top: 1.5em;
	}
}
@media(max-width:480px){
	.cd-headline {
		font-size: 1.3em;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 2.5em;
	}
	.agileits_w3layouts_call_mail {
		text-align: center;
	}
	.cd-intro {
		margin: 2.8em auto 0em;
	}
	.banner {
		min-height: 315px;
	}
	.banner-btm-w3layouts, .about-w3layouts, .team, .latest-works, .contact, .services, .banner-bottom {
		padding: 2em 0em;
	}
	.tittle-agileinfo h3, .modal-content h4 {
		font-size: 19px;
	}
	.tittle-agileinfo h3:after, .modal-content h4:after {
		border-top: 2px solid #e71f30;
		width: 66px;
		margin: 5px auto 0;
	}
	h3.subheading-w3l, .modal-content h3 {
		font-size: 1.1em;
	}
	.w3l_banner_bottom_right h3 {
		margin-bottom: .3em;
	}
	.w3l_banner_bottom_left {
		margin-bottom: 1em;
	}
	.w3_agileits_services_grid_agile p, .w3l_banner_bottom_right p,.w3_agileits_para,.w3ls_schedule_bottom_right_grid p,.w3_agile_team_grid p {
		line-height: 1.9em;
		font-size: 15px;
	}
	figure.effect-roxy h3 {
		font-size: 1.1em;
	}
	.w3_agileits_services_left img {
		width: 80%;
	}
	.w3_agileits_services_grids {
		margin-top: 7.78em;
		padding: 22.5em 0em 0em 0em;
	}
	.w3_agileits_services_left {
		left: 4.4em;
		top: -7em;
	}
	.navbar-default .navbar-nav > li > a {
		margin-bottom: 10px;
		font-size: 12px;
	}
	.dropdown-menu > li > a {
		font-size: 12px;
	}
	.w3l_schedule_bottom_right_grid1 h4 {
		font-size: 0.9em;
	}
	.w3l_schedule_bottom_right_grid1 h5 {
		font-size: 1.5em;
	}
	.team1-info-w3ls, .team2-info-w3ls, .team3-info-w3ls {
		width: 90%!important;
		float: right;
		margin: 1em 0em 2em!important;
	}
	.team1-info-w3ls::after ,.team3-info-w3ls::after{
		top: 12.5em;
		right: 25.5em;
		height: 186px;
		width: 2px;
	}
	.team2-info-w3ls::after{
		top: 40.8em;
		right: 25.5em;
		height: 186px;
		width: 2px;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 4.9em;
	}
	h6.contact-w3ls {
		font-size: 18px;
	}
	.copy p {
		font-size: 13.5px;
		line-height: 27px;
		letter-spacing: 1.5px;
	}
	.copy {
		padding: 1em 1em;
	}
	.team1-info-w3ls h6, .team2-info-w3ls h6, .team3-info-w3ls h6 {
		font-size: 17px;
	}
	.team3-info-w3ls {
		margin-bottom: 0em!important;
	}
	#toTop {
		bottom: 3px;
		right: 5px;
	}
}
@media(max-width:414px){
	.navbar-header h1 a {
		font-size: 0.8em;
		letter-spacing: 3px;
	}
	.navbar-header h1 a span {
		letter-spacing: 0.2px;
		font-size: 10.5px;
		line-height: 0px;
	}
	.navbar-header h1 {
		line-height: 36px;
	}
	.cd-headline {
		font-size: 1.1em;
	}
	.banner-icons-agileinfo ul li a {
		font-size: .7em!important;
		width: 22px!important;
		height: 22px!important;
	}
	.banner-icons-agileinfo .agileits_social_list li:nth-child(2) {
		margin: .8em 0em!important;
	}
	.agileits_social_list li a i {
		line-height: 2em;
	}
	.banner-icons-agileinfo ul::after {
		top: 112px;
		left: 9.5px;
	}
	.banner-icons-agileinfo ul::before {
		top: -43px;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 2em;
	}
	.banner {
		min-height: 295px;
	}
	.w3_agileits_services_grids {
		padding: 17.7em 0em 0em 0em;
	}
	.w3_agileits_services_left {
		left: 3.8em;
	}
	.w3ls_schedule_bottom_right_grid {
		padding: 1.5em 1em;
	}
	.team1-info-w3ls::after, .team3-info-w3ls::after,.team2-info-w3ls::after {
		right: 21.5em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 3em;
	}
	.w3layouts_gallery_grid {
		float: none;
		width: 100%;
	}
	h6.contact-w3ls {
		line-height: 27px;
	}
}
@media(max-width:384px){
	.cd-headline {
		font-size: 1.04em;
		letter-spacing: 2px;
	}
	.agileits_w3layouts_call_mail ul li:first-child {
		margin-right: 1.5em;
	}
	.w3_agileits_services_left {
		left: 3.3em;
	}
	.w3_agileits_services_grids {
		padding: 15.8em 0em 0em 0em;
		margin-top: 7.77em;
	}
	.w3_agileits_services_grid_agile {
		padding: 1em 1em;
	}
	.team1-info-w3ls::after, .team3-info-w3ls::after, .team2-info-w3ls::after {
		right: 19.8em;
	}
	.nav-tabs > li > a {
		padding: 5px 11px;
	}
	h6.contact-w3ls span {
		line-height: 30px;
	}
	.footer-w3layouts h3 {
		font-size: 1em;
		margin: 0em 0 .5em;
	}
	.agileits_social_list li a {
		font-size: 0.8em;
		width: 28px;
		height: 28px;
	}
	.agileits_social_list li a i {
		line-height: 2.3em;
	}
	.agileits_social_list li:nth-child(2) {
		margin: 0 1.1em;
	}
	.team2-info-w3ls::after {
		top: 43em;
	}
	.modal-content h3 {
		font-size: 17px!important;
	}
}
@media(max-width:375px){
	.agileits_w3layouts_call_mail ul li:first-child {
		margin-right: 0em;
		margin-bottom: 0.2em;
		display: block;
	}
	.agileits_w3layouts_call_mail {
		margin-top: 1em;
	}
	.cd-intro {
		margin: 2.4em auto 0em;
	}
	.w3_agileits_services_grids {
		padding: 15em 0em 0em 0em;
	}
	.team1-info-w3ls::after, .team3-info-w3ls::after, .team2-info-w3ls::after {
		right: 19.3em;
	}
	h3.subheading-w3l, .modal-content h3 {
		font-size: 1em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 2.6em;
	}
}
@media(max-width:320px){
	.navbar-header h1 a {
		font-size: 0.79em;
	}
	.cd-headline {
		width: 90%;
	}
	.cd-headline {
		font-size: .95em;
	}
	.banner-icons-agileinfo ul {
		right: 7px;
	}
	h3.subheading-w3l, .modal-content h3 {
		line-height: 25px;
	}
	.w3_agileits_services_left {
		left: 2.6em;
	}
	.team1-info-w3ls::after, .team3-info-w3ls::after, .team2-info-w3ls::after {
		right: 16.3em;
	}
	.w3_agileits_services_grids {
		padding: 11.2em 0em 0em 0em;
	}
	.nav-tabs > li:nth-child(1) {
		margin-left: 0.9em;
	}
	.contact-form {
		padding: 1em 1.5em;
	}
	h6.contact-w3ls {
		font-size: 17px;
	}
}
/*--responsive--*/